/.genaiscript
# Byte-compiled files
__pycache__/
*.py[cod]
/.gitignore
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
ENV/
env/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python coverage
.coverage
.coverage.*
.cache

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Misc
.DS_Store
*.log
*.sqlite3

